body {
	background: url(/images/bg.png) repeat;
	background-size: 600px 600px;
	font-size: 1em;
	padding: 0;
	margin: 0;
}

.container {
	max-width: 600px;
	padding: 2% 5%;
	margin: 0 auto;
	background: rgb(242,242,242);
}

header, footer {
	padding: 1em 0;
}

header {
	float: left;
	width: 100%;
	margin: 0 0 2em 0;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	padding: 1em 0;
}

footer {
	margin: 0;
}

.rule {
	border: 0;
	height: 0;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
	margin: 1em 0;
}

.album-art {
	width: 100%;
	margin: 0 auto 1em auto;
}

.artwork-subscribe {
	display: block;
	max-width: 225px;
	margin: 0; 
}

.icon {
	display: inline-block;
	margin: 0 10px 0 0;
}

ul.episodes {
	list-style: none;
	padding: 0;
	margin: 0.75em 0 0 0;
}

ul.episodes > li {
	padding: 2em 0 1.5em 0;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
}

ul.episodes > li h3 {
	margin: 0.5em 0;
}

ul.episodes > li:last-child {
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}