<!DOCTYPE html>
<html>
    <head>
      <script type="text/javascript" src="//use.typekit.net/auo6azd.js"></script>
      <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
      <title>{{ page.title }}</title>
      <meta name="viewport" content="width=device-width">
      <!-- Custom CSS -->
      <link rel="stylesheet" href="/css/stylesheets/screen.css">
      <!-- Favicon -->
      <link rel="shortcut icon" href="/images/favicon.png">
    </head>
    <body>
      <div class="container">
        <header>
          <div class="artwork-subscribe">
            <a href="/" title="home"><img class="album-art" src="/images/itunes.jpg" width="225px" alt="Making Conversation Album Art" /></a>
          </div>

          <div class="description-contact">

            <p class="site-description">{{ site.description }}</p>

            <h2 class="subscribe">Subscribe</h2>
            <a class="icon" href="#" title="Making Conversation Podcast on iTunes"><img src="/images/itunes@2x.png" alt="Apple Logo" width="26" /></a>
            <a class="icon" href="/podcast.xml" title="Making Conversation Podcast RSS Feed"><img src="/images/rss@2x.png" alt="RSS Icon" width="25" /></a>

            <p>
              Follow us on Twitter <a href="http://twitter.com/making_convo/">@making_convo</a><br />
              Email us: <a href="mailto:hello@makingconversation.ca">hello@makingconversation.ca</a><br />
              Send us feedback: <a href="mailto:feedback@makingconversation.ca">feedback@makingconversation.ca</a></br>
              For all your bad ideas: <a href="mailto:bad@makingconversation.ca">bad@makingconversation.ca</a>
            </p>
          
          </div>

        </header>
        {{ content }}
        <footer>
          <h2 class="subscribe">Subscribe</h2>
            <a class="icon" href="#" title="Making Conversation Podcast on iTunes"><img src="/images/itunes@2x.png" alt="Apple Logo" width="26" /></a>
            <a class="icon" href="/podcast.xml" title="Making Conversation Podcast RSS Feed"><img src="/images/rss@2x.png" alt="RSS Icon" width="25" /></a>

            <p>
              Follow us on Twitter <a href="http://twitter.com/making_convo/">@making_convo</a><br />
              Email us: <a href="mailto:hello@makingconversation.ca">hello@makingconversation.ca</a><br />
              Send us feedback: <a href="mailto:feedback@makingconversation.ca">feedback@makingconversation.ca</a></br>
              For all your bad ideas: <a href="mailto:bad@makingconversation.ca">bad@makingconversation.ca</a>
            </p>
        </footer>
      </div><!-- End of the Container -->
    </body>
</html>
