<!DOCTYPE html>
<html>
    <head>
      <script type="text/javascript" src="//use.typekit.net/auo6azd.js"></script>
      <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
      <title>{{ page.title }}</title>
      <meta name="viewport" content="width=device-width">
      <!-- Custom CSS -->
      <link rel="stylesheet" href="/css/stylesheets/screen.css">
    </head>
    <body>
      <div class="container">
        <header>
          <h1><a href="/">{{ site.name }}</a></h1>
          <p>{{ site.description }}</p>
          <h2>Subscribe</h2>
          <p>
            Subscribe to the <a href="http://makingconversation.ca/rss">Making Coversation RSS</a></br>
            Hit us up on iTunes <a href="#">Making Coversation iTunes</a>
          </p>
          <h2>Connect With Us</h2>
          <p>
            Follow us on Twitter <a href="http://twitter.com/making_convo/">@making_convo</a><br />
            Email us: <a href="mailto:hello@makingconversation.ca">hello@makingconversation.ca</a><br />
            Send us feedback: <a href="mailto:feedback@makingconversation.ca">feedback@makingconversation.ca</a></br>
            For all your bad ideas: <a href="mailto:bad@makingconversation.ca">bad@makingconversation.ca</a>
          </p>
        </header>
        {{ content }}
        <footer>
          <h2>Subscribe</h2>
          <p>
            Subscribe to the <a href="http://makingconversation.ca/rss">Making Coversation RSS</a></br>
            Hit us up on iTunes <a href="#">Making Coversation iTunes</a>
          </p>
          <h2>Connect With Us</h2>
          <p>
            Follow us on Twitter <a href="http://twitter.com/making_convo/">@making_convo</a><br />
            Email us: <a href="mailto:hello@makingconversation.ca">hello@makingconversation.ca</a><br />
            Send us feedback: <a href="mailto:feedback@makingconversation.ca">feedback@makingconversation.ca</a></br>
            For all your bad ideas: <a href="mailto:bad@makingconversation.ca">bad@makingconversation.ca</a>
          </p>
        </footer>
      </div><!-- End of the Container -->
    </body>
</html>
