---
layout: default
---
<p>{{ page.date | date_to_string }}</p>
<h2>{{ page.title }}</h2>

<div>
{{ content }}
</div>

<div class="page-navigation">
        <div class="left"> 
                {% if page.next.url %} 
                <a href="{{page.next.url}}" title="Previous Post: 
                {{page.next.title}}">&laquo; Newer</a> 
                {% endif %}
        </div> 

        <div class="right"> 
                {% if page.previous.url %} 
                <a href="{{page.previous.url}}" title="next Post: 
                {{page.previous.title}}">Older &raquo; </a> 
                {% endif %} 
        </div> 
</div>

<div class="clearfix"></div>

<hr class="rule"></hr>
